@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;600&display=swap");

$bgcolor: #e2e2e2;
$headfont: "Lato", sans-serif;
$breadfont: "Montserrat", sans-serif;
$boxshadow: 2px 2px 4px rgba(150, 147, 147, 0.541);
$bgbox: rgba(255, 255, 255, 0.589);
