@mixin wishList {
	.wishlist {
		position: relative;
		.wishlistDropDown {
			position: absolute;
			transform: translate(-50%, 9.6%);
			// top: calc(100% + 3.5rem);
			width: 40vw;
			height: 50vh;
			display: flex;
			justify-content: center;
			background-color: rgba($color: #fadddd, $alpha: 0.98);
			border: 4px solid black;
			border-top: none;
			.wishlistBody {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				padding: 0, 25px;
				column-gap: 6%;
				height: 100%;
				width: 80%;
				padding: 10px;
				h3 {
					width: 100%;
					text-align: center;
					font-family: $headfont;
					margin-block-start: 0.5;
					margin-block-end: 0;
				}
				.wishlistImageContainer {
					background-image: url("https://i.ibb.co/TBv3gf8/1.jpg");
					width: 47%;
					height: 40%;
					border: 1px solid black;
					background-size: cover;
					background-position-x: center;
					background-position-y: 70%;
					position: relative;
					.wishlistHeartContainer {
						position: absolute;
					}
				}
			}
		}
	}
	.mobileWishlist {
		display: auto;
		position: relative;
		z-index: 95;
		.wishlistDropDownMobile {
			position: absolute;
			top: 8vh;
			width: 100vw;
			display: flex;
			justify-content: center;
			background-color: rgba($color: #fadddd, $alpha: 0.98);
			border-top: none;
			border-bottom: 5px solid black;
			.wishlistBody {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				padding: 0, 25px;
				column-gap: 6%;
				height: 100%;
				width: 80%;
				row-gap: 2rem;
				padding-bottom: 5%;

				h3 {
					width: 100%;
					text-align: center;
					font-family: $headfont;
					margin-block-start: 0.5;
					margin-block-end: 0;
				}
				.wishlistImageContainer {
					background-image: url("https://i.ibb.co/TBv3gf8/1.jpg");
					width: 47%;
					height: 25vh;
					border: 1px solid black;
					background-size: cover;
					background-position-x: center;
					background-position-y: 70%;
					position: relative;
					.wishlistHeartContainer {
						position: absolute;
					}
				}
			}
		}
	}

	@media screen and (min-width: 1024px) {
		.mobileWishlist {
			display: none;
		}
	}
}
