@import "styles";

@import "mixins";

body {
  margin: 0;
  background-color: #e2e2e2;
  font-size: 12pt;
  position: relative;

  @include menu;
  @include footer;

  //Mediaquery, min-width: 768px
  @include pad;

  //Mediaquery, min-width: 1024px
  @include desktop;
}
#hero {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 14vh;
}

#border {
  margin-bottom: -10px;
  position: relative;

  svg {
    z-index: 0;
  }
}

#footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
}

#photo-container {
  position: relative;
  top: 14vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 10px;

  .image-container {
    background-size: cover;
    width: 48%;
    position: relative;
    background-position: center;
    justify-content: space-evenly;
  }

  .quote {
    width: 48%;
    position: relative;
    background-color: lightblue;

    .quote-text {
      position: absolute;
      width: 86%;
      height: 86%;
      padding: 7%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        display: inline;
        padding: 0;
        font-family: $breadfont;
        margin: 10px;
      }
    }
  }

  #one {
    background-image: url(../assets/1.jpg);
  }

  #two {
    background-image: url(../assets/4.jpg);
  }
  #three {
    background-image: url(../assets/10.jpg);
  }
  #four {
    background-image: url(../assets/3.jpg);
  }
  #five {
    background-image: url(../assets/9.jpg);
  }
  #six {
    background-image: url(../assets/5.jpg);
  }
}

.image-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.quote::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
