@import "styles";
@import "productsModal";
@import "mixins";
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bgcolor;
  margin: 0;
  padding: 0;

  @include productModal;
  @include menu;
  @include footer;

  //Mediaquery, min-width: 768px
  @include pad;

  //Mediaquery, min-width: 1024px
  @include desktop;

  #mainProducts {
    margin: 0 auto;
    margin-top: 10vh;
    display: flex;
    // background-color: white;
    flex-wrap: wrap;
    width: 100%;
    .product {
      background-color: $bgbox;
      width: 48%;
      height: 30vh;
      margin: 0.5%; //remove later
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: $boxshadow;
      //   position: relative;
      .imgWrapper {
        width: 80%;
        height: 75%;
        margin: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top;
        }
      }
      p {
        margin-block-end: 0;
        margin-block-start: 0;
        font-family: $breadfont;
      }
      #productTitle {
        font-family: $headfont;
      }
      .emptyheart {
        position: absolute;
        right: 0;
        height: 30px;
        width: 30px;
      }
    }
  }
  #checkout-dropdown {
    height: 100vh;
    width: 40%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    border-left: 1px solid darkgrey;

    /* width */
    ::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 5px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: lightgrey;
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    #checkout-header {
      background-color: $footercolor;
      width: 100%;
      height: 8%;
      margin: 0;
      text-align: center;
      font-family: $headfont;
      position: relative;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        margin: 0;
        display: inline;
      }

      #close-checkout {
        position: absolute;
        left: 2%;
        font-size: 1.2rem;
      }
    }

    #checkout-products-container {
      height: 70%;
      width: 100%;
      display: block;
      margin-top: 10px;
      overflow-y: scroll;

      .checkout-products {
        width: 90%;
        height: 25%;
        border: 1px solid $bgcolor;
        border-radius: 10px 0 10px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        margin-bottom: 10px;

        .image-wrapper {
          width: 18%;
          position: relative;
          background-color: #000;
          background-image: url("../assets/6.jpg");
          background-size: cover;
          background-position: center;
        }

        .text-wrapper {
          display: inline;
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;

          h1,
          p {
            margin: 0;
            padding: 0;
          }

          #name {
            font-size: 1rem;
            font-family: $headfont;
          }
          #price {
            font-size: 0.8rem;
            font-family: $breadfont;
            font-weight: 600;
            color: $footercolor;
          }
        }
        #input-container {
          display: inline-flex;
          flex-direction: column;
          width: 15%;
          overflow: hidden;
          padding: 10px;
          border: 1px solid $bgcolor;
          border-radius: 5px;

          label {
            display: inline !important;
            overflow: hidden;
            font-family: $headfont;
            font-size: 0.8rem;
            text-align: center;
          }

          #number-of-posters {
            width: 100%;
          }
        }
        #trash {
          font-size: 1.2rem;
          padding: 10px;
          background-color: $bgcolor;
          border-radius: 5px;
        }
      }

      .image-wrapper::after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
    #checkout-info {
      width: 100%;
      height: 20%;
      background-color: $bgcolor;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $breadfont;
      position: absolute;
      bottom: 0;

      #price-info {
        height: 70%;
        width: 70%;

        #moms-price,
        #total-price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          p {
            display: inline;
          }
        }

        #moms-price {
          color: #555;
        }
      }
      button {
        width: 80%;
        background-color: $footercolor;
        height: 20%;
        font-family: $breadfont;
        text-transform: uppercase;
        border-radius: 5px;
        border: none;
      }
    }
  }
}

//Ipad Media Query
@media (min-width: 768px) {
  body {
    #mainProducts {
      width: 95%;

      .product {
        width: 32%;
        height: 50vh;

        .emptyheart {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

//Desktop Media Query
@media (min-width: 1024px) {
  body {
    #mainProducts {
      width: 80%;
      margin-top: 14vh;

      .product {
        width: 24%;
        height: 35vh;
      }
    }
  }
}
